* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #264653;
  background-color: #f2f2f2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'title title'
    'subtitle subtitle'
    'section-container section-container'
    'example-reviews-container example-reviews-container'
    'new-reviews new-reviews';
  justify-content: center;
  align-content: center;
  padding: 2em;
  margin-top: 2em;
  width: 100%;
}

textarea {
  max-width: 300px;
  height: 50px;
}

/* Typography */
h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

p,
label {
  font-size: 0.75rem;
}

/* Main */
h1 {
  grid-area: title;
  text-align: center;
  margin-bottom: 0.5em;
}

h2 {
  grid-area: subtitle;
  text-align: center;
  justify-self: center;
  font-weight: 500;
  margin-bottom: 1.5em;
  max-width: 300px;
}

.section-container {
  grid-area: section-container;
  justify-self: center;
  display: flex;
}

.section {
  margin-bottom: 0.75em;
  font-weight: bold;
  border-bottom: 1px solid black;
  opacity: 0.35;
}

.section-new-reviews {
  margin-left: 0.75em;
}

.section:hover {
  cursor: pointer;
}

.section-active {
  border-bottom: 1px solid black;
  opacity: 1;
}

/* Example and New Reviews */
.reviews-container {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 300px;
}

.reviews-container p {
  grid-area: description;
  margin-bottom: 0.5em;
}

.reviews-container textarea {
  margin-bottom: 0.75em;
  grid-area: txtarea;
}

.btn {
  border: none;
  border-radius: 1em;
  padding: 0.25em 1.25em;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #264653;
  color: white;
  margin-bottom: 1em;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.25s;
}

